* {
  font-family: monospace;
  font-size: 14px;
}

.label {
  width: 150px;
  display: inline-block;
}

.box {
  padding: 10px;
  color: #666;
  font-size: 12px;
}

#action {
	width: 400px;
}

textarea {
  width: 450px;
  height: 150px;
  margin-left:20px;
}