<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC   
    "-//Hibernate/Hibernate Configuration DTD//EN"  
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
    <session-factory>  
      
        <!-- Settings for a local HSQL (testing) database. -->  
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">smarts</property>  
        <property name="connection.password">smarts</property>
	    <property name="connection.autoReconnect">true</property>
	    <property name="connection.autoReconnectForPools">true</property>
        
        <!-- Caching Settings -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
  
        <!-- Use the C3P0 connection pool. -->  
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
      
        <!-- Print SQL to stdout. -->  
        <property name="show_sql">true</property>  
        <property name="format_sql">true</property>  
      
        <!-- Drop and then re-create schema on SessionFactory build, for testing. -->  
        <!-- <property name="hbm2ddl.auto">create</property> -->
      
        <!-- Bind the getCurrentSession() method to the thread. -->  
        <property name="current_session_context_class">thread</property>  
  
        <!-- Hibernate XML mapping files -->  
        <!--  <mapping resource="Artist.hbm.xml"/>  -->
        
		<mapping class="smartshift.common.hibernate.model.accounts.ApplicationTip"/>
		<mapping class="smartshift.common.hibernate.model.accounts.Build"/>
		<mapping class="smartshift.common.hibernate.model.accounts.Business"/>
		<mapping class="smartshift.common.hibernate.model.accounts.BusinessPreference"/>
		<mapping class="smartshift.common.hibernate.model.accounts.ContactMethod"/>
		<mapping class="smartshift.common.hibernate.model.accounts.Image"/>
		<mapping class="smartshift.common.hibernate.model.accounts.Preference"/>
		<mapping class="smartshift.common.hibernate.model.accounts.Server"/>
		<mapping class="smartshift.common.hibernate.model.accounts.Session"/>
		<mapping class="smartshift.common.hibernate.model.accounts.SystemProperty"/>
		<mapping class="smartshift.common.hibernate.model.accounts.User"/>
		<mapping class="smartshift.common.hibernate.model.accounts.UserBusiness"/>
		<mapping class="smartshift.common.hibernate.model.accounts.UserBusinessPreference"/>
		<mapping class="smartshift.common.hibernate.model.accounts.UserContactMethod"/>
  
    </session-factory>  
  
</hibernate-configuration>  