body {
    background-color: #fff;
}

.appPane {
    position: absolute;
    left: 95px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    max-width: 1400px;
}

.appNavigationTree {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 28px;
    line-height: 28px;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
}

#staticAppNavigationTree, #dynamicAppNavigationTree, #logoutWrapper {
    float:left;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 0;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}

#staticAppNavigationTree *, #dynamicAppNavigationTree *, #logoutWrapper * {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}

.appNavigationHome, .appNavigationHome:active, .appNavigationHome:focus {
    color: #222;
    font-weight: 700;
    text-decoration: none;
    padding: 0px 10px;
}

.appNavigationHome:hover {
    color: #0080ff;
    background-color: #fff;
    text-decoration: none;
}

#dynamicAppNavigationTree .textElement {
    padding: 0px 10px;
    font-weight: 700;
}

#dynamicAppNavigationTree .linkElement, #dynamicAppNavigationTree .linkElement:active, #dynamicAppNavigationTree .linkElement:focus {
    color: #0080ff;
    font-weight: 700;
    padding: 0px 5px;
    margin: 0px 5px;
    text-decoration: none;
}

#dynamicAppNavigationTree .linkElement:hover {
    color: #0075d9;
    background-color: #f8f8f8;
    text-decoration: none;
}

#logoutWrapper {
    float:right;
    border-left: 1px solid #ccc;
    cursor: pointer;
    background-color: #e8e8e8;
}

#logoutWrapper:hover {
    background-color: #D83A41;
}

#logoutWrapper:hover * {
    color: #fff;
    display: inline-block;
}

.logoutIcon {
    padding: 0px 10px;
}

.logoutText {
    padding-right: 10px;
}

.appContent {
    position: absolute;
    top: 45px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 5;
    overflow: hidden;
    opacity: 1.0;
}

.appContent.hidden {
    opacity: 0.0;
}

.appBlock {
    border-radius: 3px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.dim {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100 !important;
    background-color: black;
    filter: alpha(opacity=10); /* internet explorer */
    -khtml-opacity: 0.10; /* khtml, old safari */
    -moz-opacity: 0.10; /* mozilla, netscape */
    opacity: 0.10; /* fx, safari, opera */
}