body {
  background-color: #282828;
}

.appWindowBg {
  position:absolute;
  background-color: #fff;
  top: 0px;
  left: 80px;
  right: 0px;
  bottom: 0px;
  z-index: 4;
}

.appWindow {
  position:absolute;
  background-color: #fff;
  top: 0px;
  left: 80px;
  right: 0px;
  bottom: 0px;
  min-height: 600px;
  max-width: 1400px;
  z-index: 5;
  overflow: hidden;
  opacity: 1.0;
}

.appWindow.hidden {
  opacity: 0.0;
}

.appWindow .contentBlock {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
}

.appWindow .appNavigationTree {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 30px;
    border-radius:3px;
    overflow: hidden;
    word-wrap: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.appNavigationTree * {
    display: inline-block;
    height: 0px;
    line-height: 0px;
    color: #222;
    padding: 13px 10px;
    padding-right: 0px;
    vertical-align: middle;
}

.appNavigationTree .linkElement {
    color: #0080ff;
    font-weight: 700;
}

.appNavigationTree .linkElement:hover {
    color: #0075d9;
    text-decoration: none;
}

.appNavigationTree .appNavigationHome {
    text-decoration: none;
}

.appNavigationTree .subArrow {
    padding: 15px 10px;
    padding-right: 0px;
}

.dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:100 !important;
    background-color:black;
    filter: alpha(opacity=10); /* internet explorer */
    -khtml-opacity: 0.10;      /* khtml, old safari */
    -moz-opacity: 0.10;      /* mozilla, netscape */
    opacity: 0.10;      /* fx, safari, opera */
}