.roleListWrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 315px;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.addRoleWrapper {
    margin-top: 15px;
    margin-left: 15px;
    vertical-align: middle;
}

.groupManagingTitle {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    margin-right: 15px;
}

.addRoleInputWrapper {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}

.addRoleInputWrapper input {
    padding: 8px;
}

.addRoleButton {
    display: inline-block;
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
}

.addRoleButton .icon-plus {
    font-size: 12px;
}

 .addRoleInfo {
     display: inline-block;
     color: #0080ff;
     font-weight: 700;
     vertical-align: middle;
     -webkit-animation: flashInOut 2.5s both ease-in;
     -moz-animation: flashInOut 2.5s both ease-in;
     animation: flashInOut 2.5s both ease-in;
 }

.addRoleError {
    display: inline-block;
    color: #f00;
    font-weight: 700;
    vertical-align: middle;
    opacity: 0;
}

.addRoleError.visible {
    opacity: 1;
}

.roleBox {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.roleBoxOverlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.roleBoxOverlayText {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    text-align: center;
    height: 70px;
    line-height: 70px;
    margin-top: -35px;
}

.roleBoxOverlayText * {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
    padding: 0px 10px;
    -webkit-text-stroke: 1px #aaa;
}

.roleBoxValidDrop {
    background-color:rgba(0, 255, 0, 0.1);
}

.roleBoxInvalidDrop {
    background-color:rgba(255, 0, 0, 0.1);
}

.roleBox.validDropZone .roleBoxValidDrop, .roleBox.invalidDropZone .roleBoxInvalidDrop  {
    opacity: 1;
}

.groupRoleToolbar {
    position: absolute;
    top: 20px;
    right: 20px;
    vertical-align: middle;
}

.groupRoleTool {
    display: inline-block;
    padding: 4px 8px;
    margin: 0px 2px;
    font-size: 12px;
    color: #666;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #e0e0e0;
}

.groupRoleTool.red:hover {
    background-color: #ff0000;
    color: #fff;
}

.groupRoleTool.blue:hover {
    background-color: #0080ff;
    color: #fff;
}

.groupRoleToolIcon {
    font-size: 12px;
    padding-left: 4px;
    vertical-align: middle;
}

.groupRoleName {
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
}

.groupRoleEmployees {
    padding-left: 15px;
}

.noGroupRoleEmployee {
    margin-left: 15px;
    margin-bottom: 15px;
}

.groupRoleEmployee {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: move;
}

.groupRoleEmployee.dragging {
    opacity: 0.25;
}

.groupRoleEmployee.hover {
    border: 1px solid #0080ff;
    box-shadow: 0px 0px 3px #000;
    background-color: #e0e0e0;
}

.groupRoleEmployeeImage {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 1px solid #ccc;
    pointer-events: none;
}

.groupRoleEmployeeName {
    width: 110px;
    height: 40px;
    position: absolute;
    left: 50px;
    top: 0px;
    line-height: 40px;
    overflow: hidden;
}

.groupRoleEmployeeDelete, .groupRoleEmployeeEdit {
    width: 36px;
    height: 15px;
    position: absolute;
    left: 160px;
    top: 0px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #888;
    border-radius: 3px;
    background-color: #d8d8d8;
    cursor: pointer;
}


.hover .groupRoleEmployeeDelete, .hover .groupRoleEmployeeEdit {
    background-color: #c8c8c8;
}

.groupRoleEmployeeDelete {
    top: 3px;
}

.groupRoleEmployeeDelete:hover {
    background-color: #ff0000;
    color: #fff;
}

.groupRoleEmployeeEdit {
    top: 22px;
}
.groupRoleEmployeeEdit:hover {
    background-color: #0080ff;
    color: #fff;
}