.quickSchedule {
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  height: 120px;
}

.newsFeed {
  position: absolute;
  top: 135px;
  left: 0px;
  bottom: 0px;
  right: 60%;
}

.rightDash {
  position: absolute;
  top: 135px;
  right: 0px;
  bottom: 0px;
  left: 40%;
}

.rightTopDash {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0px;
}

.rightBottomDash {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
}

.quickRequests {
  position: absolute;
  top: 0px;
  left: 15px;
  right: 0px;
  bottom: 0px;
}

.quickMessages {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 0px;
  bottom: 0px;
}
