.settingsWindow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

.settingsLine {
    width: 90%;
    padding: 10px 0px;
    max-width: 750px;
    background-color: #f8f8f8;
    margin: 10px;
    margin-left: 20px;
    display: block;
    position: relative;
    border: 1px solid #ccc;
}

.settingsLine:hover {
    border-color: #0080ff;
}

.settingName, .settingValue, .settingAction {
    display: inline-block;
    position: relative;
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
}

.settingName {
    text-align: right;
    width: 25%;
    margin-right: 5%;
}

.settingValue {
    text-align: left;
    width: 40%;
    color: #888;
}

.settingValue .multi {
    display: block;
    font-size: 18px;
    cursor: pointer;
    background-color: #f8f8f8;
    color: #888;
}

.settingValue .multi:hover {
    background-color: #e8e8e8;
    color: #444;
}

.settingValue .multi span {
    padding: 0px 15px;
}

.settingAction {
    display: block;
    vertical-align: middle;
    height: 100%;
    width: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

.settingAction:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.settingAction .icon-pencil {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}