* {
  font-family: 'Ubuntu', sans-serif;
}

#wrapper {
  width: 80%;
  max-width: 800px;
  margin: 0px auto;
}

#logo {
  display: block;
  width: 70%;
  margin: 0px auto;
  margin-top:100px;
  margin-bottom:40px;
}

#text, #copy {
  text-align: center;
  display: block;
  width: 80%;
  margin: 20px auto;
}

#text {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

#copy {
  font-size: 16px;
  font-weight: 400;
  color: #aaa;
}

.links {
  text-align: center;
}

.link, .link a {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #0080ff;
  text-align: center;
  text-decoration: none;
  margin: 3px 15px;
  display: inline-block;
}

.link a:hover {
  color: #2793ff;
}

@media screen and (max-width: 750px) {
  #text {
    font-size: 18px;
  }

  #copy {
    font-size: 12px;
  }

  .link, .link a {
    font-size: 12px;
  }
}