<div class="appBlock settingsWindow">
    <div class="header">User Profile</div>

    <div class="settingsLine fadeColorBorders">
        <div class="settingName">Username</div>
        <div class="settingValue">some_username123</div>
    </div>
    <div class="settingsLine fadeColorBorders">
        <div class="settingName">Password</div>
        <div class="settingValue">&bullet; &bullet; &bullet; &bullet; &bullet; &bullet; &bullet; &bullet; &bullet; &bullet;</div>
        <div class="settingAction blueBG fadeColors"><span class="icon-pencil fadeColors"></span></div>
    </div>
    <div class="settingsLine fadeColorBorders">
        <div class="settingName">Email</div>
        <div class="settingValue">some.email@website.com</div>
        <div class="settingAction blueBG fadeColors"><span class="icon-pencil fadeColors"></span></div>
    </div>
    <div class="settingsLine fadeColorBorders">
        <div class="settingName">Cell Phone</div>
        <div class="settingValue">(802) 555-1234</div>
        <div class="settingAction blueBG fadeColors"><span class="icon-pencil fadeColors"></span></div>
    </div>
    <div class="settingsLine fadeColorBorders">
        <div class="settingName">Notifications</div>
        <div class="settingValue">
            <div class="multi fadeColors"><span class="icon-checked"></span>Email</div>
            <div class="multi fadeColors"><span class="icon-not-checked"></span>SMS</div>
            <div class="multi fadeColors"><span class="icon-not-checked"></span>Mobile Push</div>
        </div>
    </div>

    <div class="header">Employee Settings</div>
    <div class="settingsLine fadeColorBorders">
        <div class="settingName">Name</div>
        <div class="settingValue">Fisher Evans</div>
        <div class="settingAction blueBG fadeColors"><span class="icon-pencil fadeColors"></span></div>
    </div>
    <div class="settingsLine fadeColorBorders">
        <div class="settingName">Profile Picture</div>
        <div class="settingValue">TODO - Image</div>
        <div class="settingAction blueBG fadeColors"><span class="icon-pencil fadeColors"></span></div>
    </div>
    <div class="settingsLine fadeColorBorders">
        <div class="settingName">Employee Specific Notifications</div>
        <div class="settingValue"><span class="fakeLine">Override Global Settings</span></div>
    </div>
</div>