<div class="modal-header">
    <h3 class="modal-title">Business Selection</h3>
</div>
<div class="modal-body selectBusinessModal">
    <p>Please select which business you would like to access.</p>
    <div ng-repeat="business in businesses" ng-click="selectBusiness(business.id)" class="loginBusinessBlock fadeColors">
        <img src="arrow.png" class="loginBusinessArrow" />
        <div class="loginBusinessName">{{business.name}}</div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="smartButton fadeColors blueBG" ng-click="cancel()">Cancel</button>
</div>