<div class="appWindow newsfeedWindowWindow fadeOpacity">
    <div class="contentBlock mainContent dash">
        <h1>{{newsfeedCtrl.route}}</h1>

        <div class="quickSchedule">
        </div>
        <div class="leftDash">
            <div class="newsFeed">
            </div>
        </div>
        <div class="rightDash">
            <div class="rightTopDash">
                <div class="quickRequests">
                </div>
            </div>
            <div class="rightBottomDash">
                <div class="quickMessages">
                </div>
            </div>
        </div>
    </div>
</div>
