<div class="appWindow scheduleWindow fadeOpacity">
  <h1>Manage Organization</h1>
  <ul>
    <li>
      Root Group (<span class="fakeLink">Add Group</span> <span class="fakeLink">Rename</span> <span class="fakeLink">Delete</span>)
      <ul>
        <li>
          Sub-Group (<span class="fakeLink">Add Group</span> <span class="fakeLink">Rename</span> <span class="fakeLink">Delete</span>)
        </li>
        <li>
          Sub-Group 2 (<span class="fakeLink">Add Group</span> <span class="fakeLink">Rename</span> <span class="fakeLink">Delete</span>)
        </li>
        <li>
          Sub-Group 3 (<span class="fakeLink">Add Group</span> <span class="fakeLink">Rename</span> <span class="fakeLink">Delete</span>)
        </li>
      </ul>
    </li>
  </ul>
</div>
