@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-kvsxpy');
  src:url('fonts/icomoon.eot?#iefix-kvsxpy') format('embedded-opentype'),
    url('fonts/icomoon.woff?-kvsxpy') format('woff'),
    url('fonts/icomoon.ttf?-kvsxpy') format('truetype'),
    url('fonts/icomoon.svg?-kvsxpy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e614";
}

.icon-x:before {
  content: "\e612";
}

.icon-not-checked:before {
  content: "\e60f";
}

.icon-checked:before {
  content: "\e610";
}

.icon-pencil:before {
  content: "\e60b";
}

.icon-home:before {
  content: "\e604";
}

.icon-newspaper:before {
  content: "\e605";
}

.icon-drawer:before {
  content: "\e600";
}

.icon-user:before {
  content: "\e606";
}

.icon-users:before {
  content: "\e607";
}

.icon-cog:before {
  content: "\e601";
}

.icon-trash:before {
  content: "\e60d";
}

.icon-list:before {
  content: "\e608";
}

.icon-eye:before {
  content: "\e617";
}

.icon-plus:before {
  content: "\e613";
}

.icon-exit:before {
  content: "\e609";
}

.icon-filter:before {
  content: "\e60e";
}

.icon-add:before {
  content: "\e602";
}

.icon-copy:before {
  content: "\e611";
}

.icon-chat:before {
  content: "\e60a";
}

.icon-calendar:before {
  content: "\e603";
}

.icon-arrow-down:before {
  content: "\e615";
}

.icon-arrow-up:before {
  content: "\e616";
}

.icon-arrow-right:before {
  content: "\e60c";
}

