<!DOCTYPE html>
<html lang="en" ng-app="smartsApp" ng-strict-di>
    <head ng-controller="HeadController as headCtrl">
        <title ng-bind="'Smart Shift &#124; ' + headCtrl.page.title">Smart Shift</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

        <link href="../global/css/root.css" rel="stylesheet" type="text/css" />
        <link href="../global/css/icomoon/icomoon.css" rel="stylesheet" />
        <link href='../global/css/lib/bootstrap/bootstrap.min.css' rel="stylesheet" type="text/css" />
        <link href="../global/css/bootstrapOverride.css" rel="stylesheet" type="text/css" />

        <link href="../global/css/components.css" rel="stylesheet" type="text/css" />
        <link href="../global/css/styleElements.css" rel="stylesheet" type="text/css" />

        <link href="../app/css/style.css" rel="stylesheet" type="text/css" />
        <link href="../app/css/modals.css" rel="stylesheet" type="text/css" />

        <link href="../global/css/employee-list.css" rel="stylesheet" type="text/css" />
        <link href="../app/css/navigation.css" rel="stylesheet" type="text/css" />
        <link href="../app/css/modals/login.css" rel="stylesheet" type="text/css" />
        <link href="../app/css/pages/newsFeed.css" rel="stylesheet" type="text/css" />
        <link href="../app/css/pages/messaging.css" rel="stylesheet" type="text/css" />
        <link href="../app/css/pages/scheduling.css" rel="stylesheet" type="text/css" />
        <link href="../app/css/pages/manage-group.css" rel="stylesheet" type="text/css" />
        <link href="../app/css/pages/group-list.css" rel="stylesheet" type="text/css" />
        <link href="../global/css/lib/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />

        <link href="../app/css/animations.css" rel="stylesheet" type="text/css" />

        <link rel="apple-touch-icon" sizes="57x57" href="../global/images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../global/images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../global/images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../global/images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../global/images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../global/images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../global/images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../global/images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../global/images/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="../global/images/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../global/images/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="../global/images/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../global/images/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="../global/images/favicon/manifest.json">
        <link rel="shortcut icon" href="../global/images/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="msapplication-TileImage" content="../global/images/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="../global/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body ng-controller="MainController as mainCtrl">
        <div class="navPane renderWait" ng-class="{loaded:true}" ng-controller="TabController as tabCtrl"> <!-- poor mans ng-cloak -->
            <img class="navLogo" src="../global/images/logoicon.png" />
            <div ng-repeat="navTab in tabCtrl.navTabs">
                <a href="#/{{navTab.link}}">
                    <div class="navElement fadeNav {{navTab.otherClass}}" ng-class="{ current: tabCtrl.isSet(navTab.tabID) && mainCtrl.showRoutePage }">
                        <div class="navLabel fadeLeft">{{navTab.label}}</div>
                        <div class="navIcon {{navTab.iconClass}}"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="appPane renderWait" ng-class="{loaded:mainCtrl.showRoutePage}">
            <div class="appNavigationTree appBlock noTextSelect">
                <div id="logoutWrapper" class="fadeColors noTextSelect" ng-click="mainCtrl.logout()">
                    <div class="icon-exit logoutIcon fadeColors"></div>
                    <div class="logoutText fadeColors">Logout</div>
                </div>
                <div id="staticAppNavigationTree">
                    <a class="icon-home appNavigationHome fadeColors" href="#/newsfeed"></a>
                    <div class="icon-arrow-right appNavigationArrow"></div>
                </div>
                <div id="dynamicAppNavigationTree">
                    <div ng-repeat="element in mainCtrl.navigationElements" class="disable-animations"
                            ng-class="{'subArrow icon-arrow-right':element.type == 'arrow',
                                       'textElement':element.type == 'text',
                                       'linkElement fadeColors':element.type == 'link'}"
                            ng-click="element.type == 'link' && mainCtrl.linkClick(element.href)">
                        {{element.text}}
                    </div>
                </div>
                <img class="loadingBox fadeOpacity" src="../global/images/loading.gif" ng-class="{active:mainCtrl.api.waitingCalls > 0}" />
            </div>
            <div ng-view class="appContent ngAnimateFade angular-animate" ng-show="mainCtrl.showRoutePage"></div>
        </div>
        <div class="dragDropMessage fadeOpacityMargin" ng-class="{show:mainCtrl.dragDropMessageShow}">
            <span class="message" ng-bind-html="mainCtrl.dragDropMessage | trustHTML"></span>
        </div>
        <div class="preventInput" ng-show="mainCtrl.api.waitingCalls > 0"></div>

        <script src="../global/js/lib/jquery/jquery-2.1.1.min.js"></script>
        <script src="../global/js/lib/angular/angular.js"></script>
        <script src="../global/js/lib/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script src="../global/js/lib/angular/angular-route.min.js"></script>
        <script src="../global/js/lib/angular/angular-ui-tree.min.js"></script>
        <script src="../global/js/lib/bootstrap/bootstrap.js"></script>
        <script src="//code.angularjs.org/1.2.10/angular-cookies.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>

        <script src="../global/js/lib/moment/moment.js"></script>
        <script src="../global/js/lib/fullcalendar/dist/fullcalendar.js"></script>
        <script src="../global/js/lib/angular-ui-calendar/src/calendar.js"></script>

        <script src="../global/js/directives/directives.js"></script>
        <script src="../global/js/directives/util-directives.js"></script>
        <script src="../global/js/directives/employee-list.js"></script>
        <script src="../global/js/directives/smart-drag-drop.js"></script>
        <script src="../global/js/directives/time-select.js"></script>

        <script src="../app/js/app.js"></script>

        <script src="../global/js/services.js"></script>
        <script src="../app/js/services/update-service.js"></script>
        <script src="../app/js/services/cookie-service.js"></script>
        <script src="../global/js/services/util-service.js"></script>
        <script src="../global/js/services/http-service.js"></script>
        <script src="../global/js/services/modal-service.js"></script>
        <script src="../global/js/services/accounts-service.js"></script>
        <script src="../global/js/services/business-service.js"></script>
        <script src="../global/js/services/cache-service.js"></script>
        <script src="../global/js/services/group-service.js"></script>
        <script src="../global/js/jquery-listeners.js"></script>

        <script src="../app/js/controllers/head-ctrl.js"></script>
        <script src="../app/js/controllers/main-ctrl.js"></script>
        <script src="../app/js/controllers/tab-ctrl.js"></script>
        <script src="../app/js/controllers/pages/calendar-ctrl.js"></script>

        <script src="../app/js/controllers/modals/confirmation-modal-ctrl.js"></script>
        <script src="../app/js/controllers/modals/last-employee-role-modal-ctrl.js"></script>
        <script src="../app/js/controllers/modals/login-modal-ctrl.js"></script>
        <script src="../app/js/controllers/modals/business-modal-ctrl.js"></script>
        <script src="../app/js/controllers/modals/add-employee-modal-ctrl.js"></script>
        <script src="../app/js/controllers/modals/edit-employee-modal-ctrl.js"></script>
        <script src="../app/js/controllers/modals/delete-employee-modal-ctrl.js"></script>
        <script src="../app/js/controllers/modals/filter-employees-modal-ctrl.js"></script>
        <script src="../app/js/controllers/modals/add-shift-modal-ctrl.js"></script>

        <script src="../app/js/controllers/pages/group-list-ctrl.js"></script>
        <script src="../app/js/controllers/pages/manage-group-ctrl.js"></script>
        <script src="../app/js/controllers/pages/messages-ctrl.js"></script>
        <script src="../app/js/controllers/pages/news-feed-ctrl.js"></script>
        <script src="../app/js/controllers/pages/requests-ctrl.js"></script>
        <script src="../app/js/controllers/pages/schedule-ctrl.js"></script>
        <script src="../app/js/controllers/pages/settings-ctrl.js"></script>

        <script src="../app/js/app-config.js"></script>
    </body>
</html>