<div class="appWindow chatWindow fadeOpacity">
    <div class="chatThreadsBox">
        <div class="chatThreads">
            <div class="chatThread" ng-repeat="thread in messagesCtrl.threads">
                <img class="chatThreadPicture" src="fisher.png" />
                <div class="chatThreadText">
                    <div class="chatThreadName">{{thread.name}}</div>
                    <div class="chatThreadPreview"><span class="sender">{{thread.sender}}: </span>{{thread.text}}</div>
                    <div class="chatThreadTime">{{thread.time}}</div>
                </div>
                <div class="chatThreadLine"></div>
            </div>
        </div>


        <div class="newChatThread">
            <div class="chatNewButton fadeColors dBlueHover"><div class="icon-add"></div><div>New Chat</div></div>
            <div class="chatSearchWrapper">
                <input type="text" class="chatSearch noInputLines" ng-model="threadSearch"/>
            </div>
            <div class="chatSearchButton fadeColors">Search</div>
        </div>
    </div>
    <div class="chatBox">
        <div class="chatMessagesWrapper">
            <div class="chatMessages">
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">7:30pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Jan 3rd</span><span class="time">2:12am</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Jun 5th</span><span class="time">9:59pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Jul 1st</span><span class="time">12:59pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Aug 1st</span><span class="time">1:30am</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Aug 1st</span><span class="time">4:37pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Yesterday</span><span class="time">7:01pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Today</span><span class="time">4:07pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Today</span><span class="time">5:01am</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage">
                    <img src="fisher.png" class="messagePicture" />
                    <div class="messageSender">You</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text.</div>
                        <div class="messageText">Sup.</div>
                    </div>
                </div>
                <div class="chatMessage alt">
                    <img src="lisa.png" class="messagePicture" />
                    <div class="messageSender">Lisa</div>
                    <div class="messageTime"><span class="date">Dec 13th, 2013</span><span class="time">1:03pm</span></div>
                    <div class="messageTexts">
                        <div class="messageText">This is a message.</div>
                        <div class="messageText">This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text. This is another one. And it has a btit more text.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chatActions">
            <div class="chatInputWrapper">
                <textarea class="chatInput noInputLines"></textarea>
            </div>
            <div class="chatSend fadeColors dBlueHover">SEND</div>
            <div class="chatEnterSend"><input type="checkbox" checked/>Send on Enter</div>
        </div>
    </div>
</div>