<div class="employeeListWrapper appBlock">
    <div class="employeeListButtons">
        <div class="smartButton blueBG fadeColors employeeListButton" ng-click="openFilterModal()">
            <span class="icon-filter"></span>
            &nbsp;&nbsp;
            Filter
        </div>
        <div class="smartButton blueBG fadeColors employeeListButton" ng-click="addEmployeeListener()">
            <span class="icon-plus"></span>
            &nbsp;&nbsp;
            Create Employee
        </div>
    </div>
    <div class="employeeListSearchWrapper">
        <div class="employeeListSearchInputWrapper">
            <input type="text" class="employeeListSearchInput smartInputText" placeholder="Name Filter" ng-model="filter.name" />
            <div class="employeeListSearchInputClear fadeColors" ng-show="filter.name" ng-click="filter.name = ''">Clear</div>
        </div>
    </div>
    <div class="employeeList">
        <div ng-repeat="(employeeID, employee) in employees | orderObjectBy:'sortName'"
             class="employeeWrapper fadeColors noTextSelect" ng-show="employeeListFilter(employee)"
             ng-class="{hover:employeeHover[employee.id]}" ng-mouseenter="employeeHover[employee.id] = true" ng-mouseleave="employeeHover[employee.id] = false"
             smart-draggable drag-class="dragging" drag-data="{'employee':employee, 'from':'employee-list'}">
            <div class="employeeListItem fadeColors">
                <div ng-if="employee.justAdded" class="justAdded"></div>
                <img ng-src="{{getEmployeeImage(employee.id)}}" class="employeeImage" />
                <div class="employeeText">
                    <div class="employeeName">{{employee.firstName}} {{employee.lastName}}</div>
                    <div class="employeeDefaultGroup">{{groups[employee.homeGroupID].name}}</div>
                </div>
                <div class="employeeMenuButton fadeColorOpacity icon-pencil" ng-click="editEmployeeListener(employee)"></div>
            </div>
        </div>
    </div>
</div>