<div class="modal-header">
    <h3 class="modal-title">Business Selection</h3>
</div>
<div class="modal-body selectBusinessModal">
    <p>Please select which business you would like to access.</p>
    <button ng-repeat="business in businesses" ng-click="selectBusiness(business)" class="loginBusinessBlock fadeColors"><!-- focus-on-render="$first"> -->
        <img src="../global/images/arrow.png" class="loginBusinessArrow" />
        <div class="loginBusinessName">{{business.name}}</div>
    </button>
</div>
<div class="modal-footer">
    <button type="submit" class="smartButton fadeColors floatLeft blueBG" ng-click="cancel()">Cancel</button>
</div>