.employeeListWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
}

.employeeListButtons {
    text-align: center;
    width: 100%;
    margin-top: 4px;
}

.employeeListButton {
    position: relative;
    margin: 7px 4px;
    padding: 8px 13px;
}

.employeeListButton .icon-plus {
    font-size: 12px;
}

.employeeListSearchWrapper {
    position: absolute;
    top: 58px;
    left: 0px;
    right: 0px;
    height: 50px;
}

.employeeListSearchInputWrapper {
    padding: 0px 14px;
}

.employeeListSearchInput {
    padding: 4px 10px;
    padding-right: 42px;
    width: 100%;
}

.employeeListSearchInputClear {
    position: absolute;
    top: 5px;
    right: 20px;
    border-radius: 3px;
    background-color: #e00;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 3px;
    cursor: pointer;
}

.employeeListSearchInputClear:hover {
    background-color: #d00;
}

.employeeList {
    position: absolute;
    top: 100px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow-y: scroll;
    border-top: 1px solid #ccc;
}

.employeeWrapper {
    cursor: move;
    background-color: #f0f0f0;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.employeeListItem {
    display: block;
    height: 60px;
    border: 1px solid #f0f0f0;
}

.hover .employeeListItem {
    border: 1px solid #0080ff;
    box-shadow: inset 0px 0px 3px #000;
    background-color: #e0e0e0;
}

.employeeListItem:hover {
    background-color: #e0e0e0;
    box-shadow: inset 0px 0px 0px #000;
}

.employeeListItem * {
    display: inline-block;
}

.employeeImage {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #888;
}

.employeeText {
    margin-left: 60px;
    margin-top: 8px;
}

.employeeText * {
    display: block;
}

.employeeName {
    font-size: 16px;
    white-space: nowrap;
}

.employeeDefaultGroup {
    color: #888;
    white-space: nowrap;
}

.employeeMenuButton {
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 14px;
    padding: 5px 8px;
    background-color: #cacaca;
    border-radius: 3px;
    opacity: 0;
    cursor: pointer;
    color: #666;
    border: solid 1px #aaa;
}

.employeeWrapper:hover .employeeMenuButton {
    opacity: 1;
}

.employeeMenuButton:hover {
    background-color: #c0c0c0;
    color: #000;
}

.employeeWrapper img {
    pointer-events: none;
}