<employee-list filter-groups="[manageGroupCtrl.group.id]" default-group-id="manageGroupCtrl.group.id" employee-hover="manageGroupCtrl.employeeHover"></employee-list>

<div class="roleListWrapper appBlock">
    <div class="addRoleWrapper">
        <!--<div class="groupManagingTitle">
            Managing {{manageGroupCtrl.group.name}}
        </div>-->
        <div class="smartInputWrapper addRoleInputWrapper">
            <input type="text" class="smartInputText smartInputFullWidth" placeholder="Role Name" ng-model="manageGroupCtrl.addRoleInput" />
        </div>
        <button id="roleListAddRoleButton" class="smartButton addRoleButton blueBG fadeColors" ng-click="manageGroupCtrl.addRoleSubmit()">
            <span class="icon-plus"></span>
            &nbsp;&nbsp;
            Create Role
        </button>
        <div class="addRoleInfo" ng-if="manageGroupCtrl.addRoleInfo">
            {{manageGroupCtrl.addRoleInfo}}
        </div>
        <div class="addRoleError fadeOpacity" ng-class="{visible:manageGroupCtrl.addRoleError}">
            <span class="icon-warning"></span>
            {{manageGroupCtrl.addRoleError}}
        </div>
    </div>
    <div ng-repeat="(roleID, role) in manageGroupCtrl.group.roles | orderObjectBy:'name'" class="antiAppBlock roleBox"
            smart-dropzone valid-class="validDropZone" invalid-class="invalidDropZone"
            is-valid="manageGroupCtrl.roleIsValidDrop(role, dropData)" on-drop="manageGroupCtrl.roleOnDrop(role, dropData)">
        <div class="groupRoleToolbar">
            <div class="groupRoleTool blue fadeColors">Rename<span class="groupRoleToolIcon icon-pencil"></span></div>
            <div class="groupRoleTool blue fadeColors">Copy<span class="groupRoleToolIcon icon-copy"></span></div>
            <div class="groupRoleTool red fadeColors">Delete <span class="groupRoleToolIcon icon-trash"></span></div>
        </div>
        <div class="groupRoleName">{{role.name}}</div>
        <div class="groupRoleEmployees">
            <div class="groupRoleEmployee appBlock fadeColorWidthOpacity angular-animate" ng-repeat="(employeeID, employee) in manageGroupCtrl.group.roleEmployees[role.id] | orderObjectBy:'sortName'"
                 ng-class="{hover:manageGroupCtrl.employeeHover[employee.id]}" ng-mouseenter="manageGroupCtrl.employeeHover[employee.id] = true" ng-mouseleave="manageGroupCtrl.employeeHover[employee.id] = false"
                 smart-draggable drag-class="dragging" drag-data="{'employee':employee, 'oldRole':role, 'from':'role'}">
                <div ng-if="employee.justAddedRole" class="justAdded"></div>
                <img src="../global/images/default.png" class="groupRoleEmployeeImage" />
                <div class="groupRoleEmployeeName fadeColors">{{employee.firstName}} {{employee.lastName}}</div>
                <div class="groupRoleEmployeeEdit icon-pencil fadeColors" ng-click="manageGroupCtrl.openEditEmployeeModal(employee)"></div>
                <div class="groupRoleEmployeeDelete icon-x fadeColors" ng-click="manageGroupCtrl.removeRoleEmployee(role, employee)"></div>
            </div>
            <div ng-show="manageGroupCtrl.isEmpty(manageGroupCtrl.group.roleEmployees[role.id])" class="noGroupRoleEmployee">
                There are no employees in this role.
            </div>
        </div>
        <div class="roleBoxOverlay roleBoxValidDrop fadeOpacity">
            <div class="roleBoxOverlayText">
                <span class="icon-plus"></span>
                <span>Add Employee</span>
            </div>
        </div>
        <div class="roleBoxOverlay roleBoxInvalidDrop fadeOpacity">
            <div class="roleBoxOverlayText">
                <span>Employee Already Exists</span>
            </div>
        </div>
    </div>
</div>

<!-- <h2>Roles</h2>
<div ng-repeat="(roleID, role) in manageGroupCtrl.roles">
    {{role.name}}
</div> -->