<div class="quickSchedule appBlock">
    Quick Schedule
</div>
<div class="newsFeed appBlock">
    <div class="blockTitle">
        News Feed
    </div>
    <div class="blockContent">
        <div class="newsCard antiAppBlock">
            <div class="ribbons">
                <div class="ribbon white"><span class="text">Apr 24</span></div>
                <div class="ribbon blue last"><span class="text">New!</span></div>
                <div class="ribbon orange"><span class="text">Sticky</span></div>
            </div>
            <div class="title">Company Meeting</div>
            <div class="subTitle">May 8th @ 9 AM</div>
            <div class="content">
                There will be a company meeting on May 8th at 9 AM in the conference room. We'll be going over upcoming projects and new sales. Please try to make it, if you are unable to, we will be posting the meeting minutes the following day.
            </div>
            <div class="links"><div class="link fadeColors">Mark as Read</div></div>
        </div>
        <div class="newsCard antiAppBlock">
            <div class="ribbons">
                <div class="ribbon white"><span class="text">Mar 31</span></div>
                <div class="ribbon orange last"><span class="text">Sticky</span></div>
            </div>
            <div class="title">On-Site Construction</div>
            <div class="subTitle">Through June 30th</div>
            <div class="content">
                As you all know, our office building is getting some much needed renovations. Please avoid parking near the loading dock during the coming months to accommodate the work vehicles.
            </div>
        </div>
        <div class="newsCard antiAppBlock">
            <div class="ribbons">
                <div class="ribbon white"><span class="text">Apr 20</span></div>
                <div class="ribbon last gray last"><span class="text">IT Services</span></div>
            </div>
            <div class="title">Schedule Posted</div>
            <div class="subTitle">For the week of May 4th</div>
            <div class="content">
                Your schedule for IT Services has been posted for the week of May 4th. Click <span class="contentLink">here</span> to view your schedule.
            </div>
        </div>
        <div class="newsCard antiAppBlock">
            <div class="ribbons">
                <div class="ribbon white"><span class="text">Apr 1</span></div>
            </div>
            <div class="title">Welcome, Bob!</div>
            <div class="content">
                Bob is a new hire and will be starting on April 20th. He'll be working under Mordac and his cube will be the last stall in the men's bathroom.
            </div>
        </div>
    </div>
</div>
<div class="rightDash">
    <div class="rightTopDash">
        <div class="quickRequests appBlock">
            <div class="blockTitle">
                Request Queue
            </div>
            <div class="blockContent">
            </div>
        </div>
    </div>
    <div class="rightBottomDash">
        <div class="quickMessages appBlock">
            <div class="blockTitle">
                Recent Messages
            </div>
            <div class="blockContent">
                <div class="newsCard antiAppBlock">
                    <div class="ribbons">
                        <div class="ribbon white"><span class="text">Just a few minutes ago</span></div>
                        <div class="ribbon blue last"><span class="text">Unread</span></div>
                    </div>
                    <div class="cardImageWrapper"><img src="../app/img/3.png" class="cardImage small" /></div>
                    <div class="title">Drew Fead</div>
                    <div class="content">
                        Hey. Would be able to cover the on-call phone friday night for me?
                    </div>
                    <div class="links"><div class="link fadeColors">Reply</div></div>
                </div>
                <div class="newsCard antiAppBlock">
                    <div class="ribbons">
                        <div class="ribbon white"><span class="text">Yesterday</span></div>
                    </div>
                    <div class="cardImageWrapper"><img src="../app/img/2.png" class="cardImage small" /></div>
                    <div class="title">Charlie Babcock</div>
                    <div class="content">
                        No, I don't see your sweatshirt here.
                    </div>
                    <div class="links"><div class="link fadeColors">Reply</div></div>
                </div>
            </div>
        </div>
    </div>
</div>
