<div class="newShiftForm appBlock">

</div>

<div class="week appBlock">
    <div ng-repeat="(dayID, day) in requestsCtrl.days" class="dayWrapper">
        <div class="dayName">{{day.name}}</div>
        <div class="day antiAppBlock" ng-class="{firstDay:$first, lastDay:$last}">
            <div ng-repeat="shift in day.shifts | orderObjectBy:'start'" class="shiftWrapper" ng-class="{notAssigned:shift.employee}">
                <div class="shift appBlock" ng-class="{isAssigned:shift.employee}">
                    <div class="shiftActionWrapper fadeColorOpacity">
                        <div class="icon-trash deleteShift fadeColorOpacity redBG"></div>
                        <div class="icon-pencil editShift fadeColorOpacity blueBG"></div>
                        <div class="timeOverlay" smart-draggable>
                            {{shift.start | date:"h:mm a"}} - {{shift.end | date:"h:mm a"}}
                        </div>
                    </div>
                    <div class="times">
                        <div class="start timeLine">
                            <div class="timeLabel">Start:</div>
                            <div class="timeValue">{{shift.start | date:"h:mm a"}}</div>
                            <div class="clearBoth"></div>
                        </div>
                        <div class="end timeLine">
                            <div class="timeLabel">End:</div>
                            <div class="timeValue">{{shift.end | date:"h:mm a"}}</div>
                            <div class="clearBoth"></div>
                        </div>
                        <div class="duration timeLine">
                            <div class="timeLabel" ng-show="shift.role">{{shift.role.name}}</div>
                            <div class="timeLabel" ng-hide="shift.role">Any Role</div>
                            <div class="timeValue">{{requestsCtrl.getDuration(shift)}} h</div>
                            <div class="clearBoth"></div>
                        </div>
                    </div>
                    <div ng-show="shift.employees" ng-repeat="(employeeID, employee) in shift.employees | orderObjectBy:'sortName'" class="assignedEmployee fadeColorOpacity">
                        <div class="assignedEmployeeName" smart-draggable>{{employee.displayName}}</div>
                        <div class="icon-x removeAssignedEmployee fadeColorOpacity"></div>
                        <div class="clearBoth"></div>
                    </div>
                    <div ng-hide="shift.employees" class="assignedEmployee unassigned fadeColorOpacity">
                        <div class="assignedEmployeeName">Unassigned</div>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>