<employee-list employee-hover="scheduleCtrl.employeeHover"></employee-list>

<div class="newShiftForm appBlock">
    <div class="addFormRow">
        <div class="addShiftLabel">Week</div>
        <select alt="Group" class="smartInputSelect addShiftInput" ng-model="scheduleCtrl.addForm.weekID">
            <option ng-repeat="week in scheduleCtrl.weeks" value="{{week.id}}">
                {{week.sunday | date: "dd MMM"}} - {{week.saturday | date: "dd MMM"}}
            </option>
        </select>
        <div class="addShiftLabel">Group</div>
        <select alt="Group" class="smartInputSelect addShiftInput" ng-model="scheduleCtrl.addForm.groupID">
            <option ng-repeat="group in scheduleCtrl.groups" value="{{group.id}}">
                {{group.name}}
            </option>
        </select>
        <div class="addShiftLabel">Role</div>
<!--        <select alt="Group" class="smartInputSelect addShiftInput" ng-model="scheduleCtrl.addForm.roleID">
            <option ng-repeat="role in scheduleCtrl.groups[scheduleCtrl.addForm.groupID].roles" value="{{role.id}}">
                {{role.name}}
            </option>
        </select>-->
        <select alt="Group" class="smartInputSelect addShiftInput" ng-model="scheduleCtrl.addForm.roleID"
                ng-init="scheduleCtrl.addForm.roleID = scheduleCtrl.addForm.roleID || Object.keys(scheduleCtrl.groups[scheduleCtrl.addForm.groupID].roles)[0]">
            <option ng-repeat="role in scheduleCtrl.groups[scheduleCtrl.addForm.groupID].roles" value="{{role.id}}">
                {{role.name}}
            </option>
        </select>
        <button class="smartButton addShiftButton blueBG fadeColors" ng-click="scheduleCtrl.openAddShiftModal()">Add Shift</button>
    </div>
</div>

<div class="week appBlock">
    <div ng-repeat="(dayID, day) in scheduleCtrl.days" class="dayWrapper">
        <div class="dayName">{{day.name}}</div>
        <div class="day antiAppBlock" ng-class="{firstDay:$first, lastDay:$last}">
            <div ng-repeat="shift in day.shifts | orderObjectBy:'start'" class="shiftWrapper" ng-class="{notAssigned:shift.employee}">
                <div class="shift appBlock" ng-class="{isAssigned:shift.employee}">
                    <div class="shiftActionWrapper fadeColorOpacity">
                        <div class="timeOverlay" smart-draggable>
                            <div ng-show="shift.role">{{shift.role.name}}</div>
                            <div ng-hide="shift.role">Any Role</div>
                            <div>
                                {{shift.start.getMinutes() == 0 ? (shift.start | date:"h") : (shift.start | date:"h:mm")}}
                                <span class="ampm">{{shift.start | date:"a"}}</span>
                                -
                                {{shift.end.getMinutes() == 0 ? (shift.end | date:"h") : (shift.end | date:"h:mm")}}
                                <span class="ampm">{{shift.end | date:"a"}}</span>
                            </div>
                        </div>
                        <div class="timeOverlayBlocker"></div>
                        <div class="icon-trash deleteShift fadeColorOpacity redBG"></div>
                        <div class="icon-pencil editShift fadeColorOpacity blueBG"></div>
                    </div>
                    <div class="times">
                        <div class="start timeLine">
                            <div class="timeLabel">Start:</div>
                            <div class="timeValue">
                                {{shift.start.getMinutes() == 0 ? (shift.start | date:"h") : (shift.start | date:"h:mm")}}
                                <span class="ampm">{{shift.start | date:"a"}}</span>
                            </div>
                            <div class="clearBoth"></div>
                        </div>
                        <div class="end timeLine">
                            <div class="timeLabel">End:</div>
                            <div class="timeValue">
                                {{shift.end.getMinutes() == 0 ? (shift.end | date:"h") : (shift.end | date:"h:mm")}}
                                <span class="ampm">{{shift.end | date:"a"}}</span>
                            </div>
                            <div class="clearBoth"></div>
                        </div>
                        <div class="duration timeLine">
                            <div class="timeLabel" ng-show="shift.role">{{shift.role.name}}</div>
                            <div class="timeLabel" ng-hide="shift.role">Any Role</div>
                            <div class="timeValue">{{scheduleCtrl.getDuration(shift)}} h</div>
                            <div class="clearBoth"></div>
                        </div>
                    </div>
                    <div ng-show="shift.employees" ng-repeat="(employeeID, employee) in shift.employees | orderObjectBy:'sortName'" class="assignedEmployee fadeColorOpacity">
                        <div class="assignedEmployeeName moveCursor" smart-draggable>{{employee.displayName}}</div>
                        <div class="icon-x removeAssignedEmployee fadeColorOpacity"></div>
                        <div class="clearBoth"></div>
                    </div>
                    <div ng-hide="shift.employees" class="assignedEmployee unassigned fadeColorOpacity">
                        <div class="assignedEmployeeName">Unassigned</div>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>