<form name="addEmployeeForm" ng-submit="submit()">
    <div class="modal-header">
        <h3 class="modal-title">Delete or Keep this Employee</h3>
    </div>
    <div class="modal-body" id="addEmployeeModal">
        <div class="modalContent centered">
            You are attempting to remove <b>{{form.employee.displayName}}</b> from the <b>{{form.currentRole.name}}</b> role in <b>{{form.group.name}}</b> which is their last role. Employees must always belong to at least one role, what would you like to do?
        </div>
        <div class="smartInputLine">
            <div class="smartInputLabel">Actions<div class="sub"><span class="fakeLink">Add Role</span></div></div>
            <div class="smartInputWrapper">
                <label class="smartCheckboxLabel noTextSelect fadeColors redCheckbox" ng-class="{'checked':form.deleteEmployee,inputError:error}" no-animate>
                    <input type="checkbox" class="smartCheckbox" value="{{group.id}}" name="group" ng-model="form.deleteEmployee" ng-change="onDeleteChange()">
                    <div class="smartCheckboxCheck" ng-class="{'icon-not-checked':!form.deleteEmployee, 'icon-checked':form.deleteEmployee }"></div>
                    Delete {{form.employee.firstName}} forever
                </label>
                <div class="checkboxSplitter">Or, add them to any of the following roles:</div>
                <label class="smartCheckboxLabel noTextSelect fadeColors" ng-repeat="(roleID, role) in form.group.roles" ng-class="{'checked':form.selectedRoles[role.id],inputError:error}" no-animate>
                    <input type="checkbox" class="smartCheckbox" name="role" ng-model="form.selectedRoles[role.id]" ng-change="onRoleChange()">
                    <div class="smartCheckboxCheck" ng-class="{'icon-not-checked':!form.selectedRoles[role.id], 'icon-checked':form.selectedRoles[role.id] }"></div>
                    {{role.name}}{{role.id == form.currentRole.id ? " (Current)" : ""}}
                </label>
            </div>
        </div>
        <p class="smartModelError smartModelPara" ng-if="error">{{error}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="smartButton fadeColors orangeBG addEmployeeModalButton floatLeft" ng-disabled="form.working" ng-click="cancel()">Cancel</button>
        <button type="submit" class="smartButton fadeColors blueBG addEmployeeModalButton" ng-disabled="form.working" >Apply Changes</button>
    </div>
</form>
