@keyframes         fadeInAnim { 0%, 50% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes    fadeInAnim { 0%, 50% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeInAnim { 0%, 50% { opacity: 0; } 100% { opacity: 1; } }

@keyframes         fadeOutAnim { 0% { opacity: 1; } 50%, 100% { opacity: 0; } }
@-moz-keyframes    fadeOutAnim { 0% { opacity: 1; } 50%, 100% { opacity: 0; } }
@-webkit-keyframes fadeOutAnim { 0% { opacity: 1; } 50%, 100% { opacity: 0; } }

@keyframes         vertAccordIn { 0% { max-height: 0px; opacity: 0; } 100% { max-height: 100px; opacity: 1; } }
@-moz-keyframes    vertAccordIn { 0% { max-height: 0px; opacity: 0; } 100% { max-height: 100px; opacity: 1; } }
@-webkit-keyframes vertAccordIn { 0% { max-height: 0px; opacity: 0; } 100% { max-height: 100px; opacity: 1; } }

@keyframes         vertAccordOut { 0% { max-height: 100px; opacity: 1; } 100% { max-height: 0px; opacity: 0; } }
@-moz-keyframes    vertAccordOut { 0% { max-height: 100px; opacity: 1; } 100% { max-height: 0px; opacity: 0; } }
@-webkit-keyframes vertAccordOut { 0% { max-height: 100px; opacity: 1; } 100% { max-height: 0px; opacity: 0; } }

@keyframes         groupRoleEmployeeIn { 0% { opacity: 0; width:0px; margin-right: 0px; } 100% { opacity: 1; width:200px; margin-right: 15px; } }
@-moz-keyframes    groupRoleEmployeeIn { 0% { opacity: 0; width:0px; margin-right: 0px; } 100% { opacity: 1; width:200px; margin-right: 15px; } }
@-webkit-keyframes groupRoleEmployeeIn { 0% { opacity: 0; width:0px; margin-right: 0px; } 100% { opacity: 1; width:200px; margin-right: 15px; } }

@keyframes         groupRoleEmployeeOut { 0% { opacity: 1; width:200px; margin-right: 15px; } 100% { opacity: 0; width:0px; margin-right: 0px; } }
@-moz-keyframes    groupRoleEmployeeOut { 0% { opacity: 1; width:200px; margin-right: 15px; } 100% { opacity: 0; width:0px; margin-right: 0px; } }
@-webkit-keyframes groupRoleEmployeeOut { 0% { opacity: 1; width:200px; margin-right: 15px; } 100% { opacity: 0; width:0px; margin-right: 0px; } }

@keyframes         fadeInOut { 0% { opacity: 0; } 15% { opacity: 1; } 100% { opacity: 0; } }
@-moz-keyframes    fadeInOut { 0% { opacity: 0; } 15% { opacity: 1; } 100% { opacity: 0; } }
@-webkit-keyframes fadeInOut { 0% { opacity: 0; } 15% { opacity: 1; } 100% { opacity: 0; } }

@keyframes         flashInOut { 0% { opacity: 0; } 15% { opacity: 1; } 99% { width: auto; } 100% { opacity: 0; width: 0px; } }
@-moz-keyframes    flashInOut { 0% { opacity: 0; } 15% { opacity: 1; } 99% { width: auto; } 100% { opacity: 0; width: 0px; } }
@-webkit-keyframes flashInOut { 0% { opacity: 0; } 15% { opacity: 1; } 99% { width: auto; } 100% { opacity: 0; width: 0px; } }

@keyframes minuteSpin {
    0% { transform:rotate(330deg); }
    100% { transform:rotate(690deg); }
}

@-moz-keyframes minuteSpin {
    0% { -moz-transform:rotate(330deg); }
    100% { -moz-transform:rotate(690deg); }
}

@-webkit-keyframes minuteSpin {
    0% { -webkit-transform:rotate(330deg); }
    100% { -webkit-transform:rotate(690deg); }
}

@keyframes hourSpin {
    0% { transform:rotate(207.5deg); }
    100% { transform:rotate(567.5deg); }
}

@-moz-keyframes hourSpin {
    0% { -moz-transform:rotate(207.5deg); }
    100% { -moz-transform:rotate(567.5deg); }
}

@-webkit-keyframes hourSpin {
    0% { -webkit-transform:rotate(207.5deg); }
    100% { -webkit-transform:rotate(567.5deg); }
}

.ngAnimateFade.ng-enter {
    -webkit-animation: fadeInAnim 0.25s both ease-in;
    -moz-animation: fadeInAnim 0.25s both ease-in;
    animation: fadeInAnim 0.25s both ease-in;
    z-index: 99;
}

.ngAnimateFade.ng-leave {
    -webkit-animation: fadeOutAnim 0.25s both ease-in;
    -moz-animation: fadeOutAnim 0.25s both ease-in;
    animation: fadeOutAnim 0.25s both ease-in;
    z-index: 88;
}

.ngAnimateAccord.ng-enter {
    -webkit-animation: vertAccordIn 0.25s both ease-in;
    -moz-animation: vertAccordIn 0.25s both ease-in;
    animation: vertAccordIn 0.25s both ease-in;
}

.ngAnimateAccord.ng-leave {
    -webkit-animation: vertAccordOut 0.25s both ease-in;
    -moz-animation: vertAccordOut 0.25s both ease-in;
    animation: vertAccordOut 0.25s both ease-in;
}

.groupRoleEmployee.ng-enter {
    -webkit-animation: groupRoleEmployeeIn 0.25s both ease-in;
    -moz-animation: groupRoleEmployeeIn 0.25s both ease-in;
    animation: groupRoleEmployeeIn 0.25s both ease-in;
}

.groupRoleEmployee.ng-leave {
    -webkit-animation: groupRoleEmployeeOut 0.25s both ease-in;
    -moz-animation: groupRoleEmployeeOut 0.25s both ease-in;
    animation: groupRoleEmployeeInOut 0.25s both ease-in;
}

.justAdded {
    position:absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #0080ff;
    -webkit-animation: fadeInOut 1.5s both ease-in;
    -moz-animation: fadeInOut 1.5s both ease-in;
    animation: fadeInOut 1.5s both ease-in;
}

.disable-animations.ng-enter,
.disable-animations.ng-leave,
.disable-animations.ng-animate{
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-animation: none 0s;
    animation: none 0s;
}
